<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.budgetmanager"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.example.budgetmanager.UBudgetApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:screenOrientation="portrait"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity
            android:name="com.example.budgetmanager.AddEntryActivity"
            android:label="@string/title_activity_add_entry" >
        </activity>
        <activity
            android:name="com.example.budgetmanager.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="com.example.budgetmanager.RegisterActivity"
            android:label="@string/title_activity_signin" >
        </activity>
        <activity
            android:name="com.example.budgetmanager.LogoActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:label="@string/title_activity_logo" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.budgetmanager.AddBudgetActivity"
            android:label="@string/title_activity_add_budget" >
        </activity>
		<activity
            android:name="com.example.budgetmanager.EntryLogsActivity"
            android:label="@string/title_activity_entry_logs" >
        </activity>
        <activity
            android:name="com.example.budgetmanager.SummaryActivity"
            android:label="@string/title_activity_summary" >
		</activity>
        <activity
            android:name="com.example.budgetmanager.preference.SettingsActivity"
            android:label="@string/title_activity_settings" >
		</activity>
    </application>

</manifest>
